.bloco-botao{
    align-self: center;
}
.botao1{
    height: 35.84000015258789px;
    width: 92.15999603271484px;
    left: 0px;
    top: 0px;
    border-radius: 3.8127658367156982px;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    color: white;
    font-weight: 800;
    background: #5035FF;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border-radius: 3.81277px;
    border: none;
}